.App {
  text-align: center;
  max-width: 880px;
  height: 100vh;
  margin: 0 auto;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 4px solid #C92F2A;
}

.nav-link {
  margin: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #C92F2A;
  border: 4px solid #C92F2A;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
}

.nav-link:hover {
  color: #C92F2A;
  background-color: #ffffff;
}

.nav-link:first-child {
  margin-left: 80px;
}

.nav-link:last-child {
  margin-right: 80px;
}

.form {
  margin-top: 60px;
}

.dashboard {
  margin-top: 40px;
}

.dashboard-news-text {
  text-align: left;
}

.friend {
  display: inline-flex;
  margin: 20px;
}
